  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
    :root {
      --mono-100: #0B0112;
      --mono-90: #474648;
      --mono-80: #6B686E;
      --mono-70: #8A888C;
      --mono-50: #C9C8CA;
      --mono-40: #E6E3E7;
      --mono-0: #FFFFFF;
      --mono-60: #AAA7AB;
      --error: #D10C3B;
      --success: #1FC430;
      --secondary-color-100: #1B264F;
      --primary-color-100: #611192;
      --primary-color-50: #3B055C;
      --primary-color-70: #F2E8F8;
      --primary-font: "Lustria", serif;
      --secondary-font: "Poppins", sans-serif;
    }

    * {
      box-sizing: border-box;
      border: 0;
      padding: 0;

    }

    input:focus-visible,
    input:focus-within,
    input:focus {
      border-radius: 0 !important;
      outline: none !important;
    }

    *,
    html,
    body {
      box-sizing: border-box;
      color: var(--mono-100);
    }

    body {
      background-color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--mono-100);
      font-family: var(--primary-font);
      font-size: inherit;
      font-weight: inherit;
      line-height: 1.1;
      color: inherit;
    }

    h1,
    .h1 {
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.48px;
    }

    h2,
    .h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.4px;
    }

    h3,
    .h3 {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      letter-spacing: 0.32px;
    }

    h4,
    .h4 {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.24px;
    }

    h5,
    .h5 {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      letter-spacing: 0.2px;
    }

    h6,
    .h6 {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      letter-spacing: 0.18px;
    }

    @media screen and (max-width:991px) {

      h1,
      .h1 {
        font-size: 42px;
      }

      h2,
      .h2 {
        font-size: 36px;
      }

      h3,
      .h3 {
        font-size: 28px;
      }

      h4,
      .h4 {
        font-size: 22px;
      }
    }

    @media screen and (max-width:767px) {

      h1,
      .h1 {
        font-size: 40px;
      }

      h2,
      .h2 {
        font-size: 32px;
      }

      h3,
      .h3 {
        font-size: 24px;
      }

      h4,
      .h4 {
        font-size: 20px;
      }
    }

    p {
      font-family: var(--secondary-font);
      font-size: 16px;
      font-style: normal;
      /* font-weight: 300; */
      line-height: 150%;
      letter-spacing: 0.8px;
      font-kerning: none;
    }

    body {
      color: var(--mono-100);
      background: var(--mono-0);
      font-family: var(--secondary-font);
      font-kerning: none;
    }

    .body-large {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-medium {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-regular {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-small {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .caption {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .forms {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-bold-large {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 33px */
    }

    .body-bold-medium {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 27px */
    }

    .body-bold-regular {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 24px */
    }

    .body-bold-small {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 21px */
    }

    .caption-bold {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    .forms-bold {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    .eyebrow-large {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }

    .eyebrow-medium {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
    }

    .eyebrow-small {
      color: inherit;
      font-kerning: none;
      font-family: var(--secondary-font);
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    @media screen and (max-width:767px) {
      .caption-bold {
        font-size: 11px;
      }

      .body-small {
        font-size: 12px;
      }
    }
  }

  .search-border {
    border-bottom: 1px solid #C9C8CA !important;
  }

  @layer components {
    .custom-container-fluid {
      max-width: 1440px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .custom-container {
      max-width: 1248px;
      padding-left: 24px;
      padding-right: 24px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .custom-container-full {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    @media screen and (max-width:991px) {
      .custom-container {
        padding-left: 18px;
        padding-right: 18px;
      }
    }

    @media screen and (max-width:767px) {
      .custom-container {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    .footer-section {
      border-top: 1px solid var(--mono-40);
    }

    .header-section .header-bottom-cont,
    .header-section .header-top-cont {
      border-bottom: 1px solid var(--mono-40);
    }

    .global-search-group-field input:focus-within,
    .global-search-group-field input:focus {
      border-radius: 24px !important;
      -webkit-border-radius: 24px !important;
      -moz-border-radius: 24px !important;
      -ms-border-radius: 24px !important;
      -o-border-radius: 24px !important;
    }

    .bg-blog-hero {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 5.63%, rgba(0, 0, 0, 0.5) 37.81%, rgba(0, 0, 0, 0) 100%);
    }

    .global-search-bar.global-search-bar-secondary input:focus-within,
    .global-search-bar.global-search-bar-secondary input:focus {
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -ms-border-radius: 0 !important;
      -o-border-radius: 0 !important;
    }

    .global-search-bar.global-search-bar-secondary input {
      border-bottom: 2px solid var(--mono-40);
    }

    .drawer-side {
      z-index: 99999;
    }

    .menu :where(li ul):before {
      display: none;
    }

    .megamenu-navigation-box>ul li summary {
      border-bottom: 1px solid var(--mono-40);
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -ms-border-radius: 0 !important;
      -o-border-radius: 0 !important;
    }

    .sticky-mobilenav-elements {
      border-top: 1px solid var(--mono-40);
    }

    .link-lists-item-menu {
      border-bottom: 1px solid var(--mono-40);
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -ms-border-radius: 0 !important;
      -o-border-radius: 0 !important;
    }

    @media screen and (max-width:767px) {
      .quick-link-lists .quick-list-item:not(:last-child) {
        border-bottom: 1px solid var(--mono-40);
      }

      .quick-link-lists.quick-link-area-two .quick-list-item:nth-child(1) {
        border-top: 1px solid var(--mono-40);
      }
    }
  }

  @layer utilities {}